body{font-family: 'Raleway', sans-serif;}

*,li,a{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif;
}
.container{
    max-width: 1540px;
    padding: 0 50px;
}
nav{
    background-color: transparent;
}
header h1{
    color: #fff;
    font-weight: bold;
}
.collapse ul li a{
    margin: 5px;
    background-color: transparent;
    font-size: 20px;
    border: 1px solid transparent;
}
.collapse ul li a:hover{
    background: rgba(255, 255, 255, 0.2);
    color: grey;
}
.navbar-scroll{
    background-color: #67b0d1;
    margin: 0;
    position: fixed;
    top: 0;    
    z-index: 2;
    transition-duration :0.6s;
}

.hero{
    background-image: linear-gradient(rgba(55, 142, 181, 0.5), rgba(55, 142, 181, 0.2)),url("../img/hero-bg.jpg");
    background-size: cover;
    position: relative;
}
.hero{
    background-attachment: fixed;
}
.hero .hero-container h1{

    font-size: 65px;
    color: aliceblue;
    font-weight: 700;
    text-shadow: -1px 0 2px #2f4d5a;
}
.hero .hero-container p{
    font-size: 25px;
    font-weight: 700;
    color: aliceblue;

    text-shadow: -1px 0 2px #2f4d5a;
}
.hero .hero-container svg{
    color: white;
    border-radius: 50%;
    border: 3px solid white;
    padding: 12px;
}
.banner-2{
    background-image: url(../img/about-bg.jpg);
    background-size: cover;
    padding: 10px;
    position: relative;
}
.banner-2:before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.1);
    z-index: 1;
}
.banner-2 .right-col h3{
    font-size: 36px;
    font-weight: bold;
}
.banner-2 .right-col .btn{
    background-color: #67b0d1;
    color: white;
}
.banner-2 .col-6 .box-1 svg{
   color: #67b0d1;
} 
.banner-2 .col-6 .box-1 h3{
    font-size: 20px;
    color: rgb(40, 37, 37);
}
.banner-2 .col-6 .box-1 p{
    width: 260px;
}
.banner-3 row{
    background-color: aliceblue;
}
.banner-3 .top-text h2{
    position: relative;
}
.banner-3 .top-text h2::before{
    content: "";
    background-image: url(../img/section-title-bg.png)  ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: -1;
    width: 123px;
    height: 69px;    
}
.banner-3 .service-box-1 svg{
     color: #67b0d1;
}
.banner-3 .service-box-1:hover svg{
    fill: #fff;
    transition: all 0.7s;
}
.banner-3 .service-box-1 h2{    
    font-size: 20px;
    font-weight: bold;
}
.service-box-1{    
    -webkit-box-shadow: -6px 7px 40px -8px rgb(61 52 52 / 75%); 
   
}
 
.service-box-1:hover{
    background-color: rgb(22, 80, 103);
    color: whitesmoke;
    right: 0;
    left: 0;
    bottom: 0;
    top:  0;
    transform: translatey(0);
    transition: all 0.7s;
    transition-timing-function:ease-in-out ;

}
.banner-4{
    background-color: #f4f9fc;
}
.box4{
    width: 200px;
}
.banner-4 .box4 svg{
    color: #67b0d1;
}
.banner-4 .box4 h2{
    font-size: 30px;
    font-weight: bold;
}
.banner-5{
    background-size: cover;
    position: relative;
    background-image:linear-gradient(rgba(103, 176, 209, 0.8), rgba(103, 176, 209, 0.8)),url(../img/cta-bg.jpg);
}
.banner-5{
    background-attachment: fixed;
}
.banner-5 .box5 button{
    width: 250px;
}
.portfolio .top-text2 h2{
    position: relative;
}
.portfolio .top-text2 h2:before{
    content: "";
    position: absolute;
    background-image: url(../img/section-title-bg.png);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    width: 123px;
    height: 69px;

}
.portfolio .top-text2 ul{
    text-align: center;
    border-radius: 50px;
    background-color: #ecf5f9;
    padding: 10px 20px;
    width: 27%;
    margin: auto;
    color: black;    
}
.portfolio .top-text2 ul li{
    list-style: none;
    cursor: pointer;
    display: inline-block;
    padding: 15px 15px 7px 15px;
    font-size: 14px;
    line-height: 1; 
    color: #2f4d5a;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;    
}
.portfolio .top-text2 ul li a{
    text-decoration: none;
    padding: 2px 10px;    
}
.portfolio .top-text2 ul li a :hover{
    color: #67b0d1;
}
.portfolio  .port-image{
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition:  0.3s;
}
 

.portfolio  .port-image img{
    width: 100%;
}
.portfolio .port-links{
    background: #67b0d1;
    display: flex;
    justify-content: space-around;
    color: #fff;
     
}

.portfolio .port-links:hover{
    opacity: 1;
}
.testonomial{
    background-color: #f4f9fc;
}
.testonomial .top-text3 h2{
    font-weight: bold;
    font-size: 30px;
    position: relative;
    z-index: 1;
}
.testonomial .top-text3 h2:before{
    content: "";
    position: absolute;
    background-image: url(../img/section-title-bg.png);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 123px;
    height: 65px;
    z-index: -1;
}
.testonomial .top-text3 p{
    font-size: 20px;
}
.testonomial .swiper{
    height: 50vh;
}
.testonomial .swiper-slide .test-box .test-top-box{
    background-color: #fff;
    padding: 20px ;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
}
.testonomial .swiper-slide .test-box .test-top-box svg{
    color: #d5e9f2;
}
.testonomial .swiper-slide .test-box .test-top-box p{
    font-size: 15px;

}

.testonomial .swiper-slide .test-box .test-bottom-box img{
    width: 20%;
    border-radius: 50%;
}
.testonomial .swiper-slide .test-box .test-bottom-box h3{
    font-size: 20px;

    font-weight: bold;
    margin: 10px 0px;
}
.testonomial .swiper-slide .test-box .test-bottom-box h4{
    font-size: 15px;

    margin: 10px;
}
.Team .top-text4 h2{
    font-weight: bold;
    font-size: 30px;
    position: relative;
    z-index: 1;
}
.Team .top-text4 h2:before{
    content: "";
    position: absolute;
    background-image: url(../img/section-title-bg.png);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 123px;
    height: 65px;
    z-index: -1;
}
.Team .top-text4 p{
    font-size: 20px;
}
.Team .team-img{
    position: relative;
    width: 430px;
    
}
.Team .team-img img{
    width: 430px;
}
.Team .team-box{
    background-color: #fff;
    position: absolute;
    width: 380px;
    left: 25px;
    color: #2f4d5a;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    bottom: -50px;
    display: block;
    height: 87px;
    overflow: hidden;
}
.hover-box :hover .team-box{
    overflow: initial;
}
 
.Team .team-box hr{
    width: 50px;
    color: #52869d;
    margin: auto;
    padding: 3px;
}
.Team .team-box h2{
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 16px;
    color: #2f4d5a;
    position: relative;
    padding-bottom: 10px;
    
}
.Team .team-box p{
    font-style: italic;     
    font-size: 13px;
}
/* .Team .team-box .hover-icon{
    display: none;
} */
.Team .team-box ul{
    list-style: none;    
    align-items: center;    
}
.Team .team-box ul li{      
     font-size: 10px;
}
.Team .team-box svg{
    color: #52869d;
}
.Team .team-box svg:hover{
    color: #2f4d5a;
}
.contact{
    background-color: #f4f9fc;
}
.contact .top-text5 h2{
    font-weight: bold;
    font-size: 30px;
    position: relative;
    z-index: 1;
}
.contact .top-text5 h2:before{
    content: "";
    position: absolute;
    background-image: url(../img/section-title-bg.png);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 123px;
    height: 65px;
    z-index: -1;
}
.contact .contact-box{
    background-color: #fff;
    box-shadow: 0 0 30px rgb(214 215 216 / 60%);
    padding: 30px;
    
}
.contact .contact-box svg{
    color: #67b0d1;
    border-radius: 50%;
    padding: 8px;
    border: 2px dotted #f0f7fa;
}
.contact .contact-box svg:hover{
    fill: red;
}

.contact .contact-box svg:before{
    box-sizing: border-box;
}
.contact .contact-map iframe{
    width: 100%;
    height: 520px;
}
.contact-form{
    box-shadow: 0 0 30px rgb(214 215 216 / 60%);
    padding: 30px;
    background: #fff;
}
.contact-form input{
    padding:10px 15px;
}
.contact-form .form-control{
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}
.contact-form textarea{
    padding:10px 29px;
    width: 100%;
}
.contact-form button{
    background: #67b0d1;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
}
.top-footer{
    background: #263f49;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
}
.top-footer .left-footer{
    background-color: #fff;
    color:black;
    margin-top: -50px;
    border-top: 4px solid #67b0d1;
}
.top-footer .left-footer svg{
    font-size: 18px;
    display: inline-block;
    background: #2f4d5a;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
}
.top-footer .center-footer ul li a{
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 2;
}
.top-footer .right-footer{
    font-size: 16px;
}
.top-footer .right-footer .input-form{
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
}
.top-footer .right-footer .input-form .form-control{
    border: 0;
    padding: 4px;
    width: calc(100% - 110px);
}
.top-footer .right-footer .input-form .right-button{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #67b0d1;
    color: #fff;
}





